@model CoursePlannerSPAssignment.Models.Selection

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Selection</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Course.CourseCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course.CourseCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Student.FName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.FName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SelectionId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
